* {
  font-size: 1em;
}

h2 {
  font-size: 1.5em;
}

.note-detail div {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  max-width: 25%;
}

.note-detail div label {
  font-weight: bold;
  margin-bottom: 10px;
}
